In [33]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [34]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [35]:
df = application_df.copy()
df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Determine the number of unique values in each column.
df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [37]:
#Look at NAME counts for binning
name_counts = df['NAME'].value_counts()
name_counts

NAME
PARENT BOOSTER USA INC                               1260
TOPS CLUB INC                                         765
UNITED STATES BOWLING CONGRESS INC                    700
WASHINGTON STATE UNIVERSITY                           492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC       408
                                                     ...
OUR PERFECT STORM                                       1
FOUNTAIN THEATER                                        1
COMBAT VETERANS MOTORCYCLE ASSOCIATION 33-7             1
NEW MEXICO ASSOCIATION OF INDEPENDENT SCHOOLS INC       1
RED SHOE PROJECT INC                                    1
Name: count, Length: 19568, dtype: int64

In [38]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
name_types_to_replace = list(name_counts[name_counts < 5].index)
# Replace in dataframe
for name in name_types_to_replace:
    df['NAME'] = df['NAME'].replace(name,"Other")

# Check to make sure replacement was successful
df['NAME'].value_counts()

NAME
Other                                                     19803
PARENT BOOSTER USA INC                                     1260
TOPS CLUB INC                                               765
UNITED STATES BOWLING CONGRESS INC                          700
WASHINGTON STATE UNIVERSITY                                 492
                                                          ...
SOCIETY OF MAYFLOWER DESCENDANTS IN THE STATE OF TEXAS        5
NATIONAL ORGANIZATION FOR WOMEN INC                           5
COUNTRY DANCE & SONG SOCIETY INC                              5
SOLID WASTE ASSOCIATION OF NORTH AMERICA INC                  5
PTA HAWAII CONGRESS                                           5
Name: count, Length: 403, dtype: int64

In [39]:
# Determine the number of unique values in each column.
df.nunique()

NAME                       403
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [40]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_counts = df['APPLICATION_TYPE'].value_counts()
app_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [41]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [43]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [44]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [45]:
#Create a DF with the cleaned data as a reference point
checkpoint_df = df.copy()
checkpoint_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [47]:
df = pd.get_dummies(df)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [48]:
# Split our preprocessed data into our features and target arrays
y = df['IS_SUCCESSFUL']
X = df.drop(['IS_SUCCESSFUL'], axis=1)
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [49]:


# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [53]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_3"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 7)                       3,129

 dense_1 (Dense)                  (None, 14)                        112

 dense_2 (Dense)                  (None, 1)                          15

 Total params: 3,256 (12.72 KB)

 Trainable params: 3,256 (12.72 KB)

 Non-trainable params: 0 (0.00 B)

In [54]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [57]:
# Create the callback
class SaveEveryNEpochs(tf.keras.callbacks.Callback):
    def __init__(self, n, filepath):
        super().__init__()
        self.n = n
        self.filepath = filepath

    def on_epoch_end(self, epoch, logs=None):
        if (epoch + 1) % self.n == 0:
            filename = self.filepath.format(epoch=epoch + 1)
            self.model.save_weights(filename)
            print(f"\nSaved weights at epoch {epoch + 1} to {filename}")

# Create the callback instance
save_every_5_epochs = SaveEveryNEpochs(
    n=5,
    filepath="model_weights_epoch{epoch:02d}.weights.h5"
)

In [58]:
# Train the model
fit_model = nn.fit(
    X_train_scaled, y_train, batch_size=32,
    epochs=100,
    callbacks=[save_every_5_epochs]
)

Epoch 1/100
804/804  4s 3ms/step - accuracy: 0.7071 - loss: 0.5921
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7817 - loss: 0.4467
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7853 - loss: 0.4375
Epoch 4/100
804/804  3s 2ms/step - accuracy: 0.7884 - loss: 0.4323
Epoch 5/100
801/804  0s 2ms/step - accuracy: 0.7915 - loss: 0.4297
Saved weights at epoch 5 to model_weights_epoch05.weights.h5
804/804  3s 2ms/step - accuracy: 0.7915 - loss: 0.4297
Epoch 6/100
804/804  3s 3ms/step - accuracy: 0.7970 - loss: 0.4242
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7901 - loss: 0.4316
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.7891 - loss: 0.4320
Epoch 9/100
804/804  3s 2ms/step - accuracy: 0.7927 - loss: 0.4305
Epoch 10/100
795/804  0s 2ms/step - accuracy: 0.7943 - loss: 0.4291
Saved weights at epoch 10 to model_weights_epoch10.weights.h5
804/804  2s 2ms/step - accuracy: 0.7943 - loss: 0.4291
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7948 - loss: 0.4255
Epoch 12/100
804/804  3s 3ms/step - accuracy: 0.7953 - loss: 0.4240
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7990 - loss: 0.4184
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.7946 - loss: 0.4222
Epoch 15/100
791/804  0s 2ms/step - accuracy: 0.7954 - loss: 0.4246
Saved weights at epoch 15 to model_weights_epoch15.weights.h5
804/804  3s 2ms/step - accuracy: 0.7954 - loss: 0.4246
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7939 - loss: 0.4248
Epoch 17/100
804/804  3s 3ms/step - accuracy: 0.8017 - loss: 0.4171
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.7982 - loss: 0.4183
Epoch 19/100
804/804  2s 2ms/step - accuracy: 0.7931 - loss: 0.4229
Epoch 20/100
802/804  0s 4ms/step - accuracy: 0.7972 - loss: 0.4189
Saved weights at epoch 20 to model_weights_epoch20.weights.h5
804/804  3s 4ms/step - accuracy: 0.7972 - loss: 0.4189
Epoch 21/100
804/804  4s 3ms/step - accuracy: 0.7971 - loss: 0.4209
Epoch 22/100
804/804  3s 3ms/step - accuracy: 0.7994 - loss: 0.4179
Epoch 23/100
804/804  4s 2ms/step - accuracy: 0.7998 - loss: 0.4169
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.8012 - loss: 0.4158
Epoch 25/100
793/804  0s 2ms/step - accuracy: 0.7995 - loss: 0.4160
Saved weights at epoch 25 to model_weights_epoch25.weights.h5
804/804  2s 2ms/step - accuracy: 0.7995 - loss: 0.4161
Epoch 26/100
804/804  3s 3ms/step - accuracy: 0.7998 - loss: 0.4189
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.8006 - loss: 0.4199
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.8021 - loss: 0.4196
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.8079 - loss: 0.4084
Epoch 30/100
791/804  0s 2ms/step - accuracy: 0.8041 - loss: 0.4137
Saved weights at epoch 30 to model_weights_epoch30.weights.h5
804/804  3s 2ms/step - accuracy: 0.8041 - loss: 0.4137
Epoch 31/100
804/804  3s 2ms/step - accuracy: 0.8020 - loss: 0.4193
Epoch 32/100
804/804  2s 3ms/step - accuracy: 0.8004 - loss: 0.4180
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.8028 - loss: 0.4158
Epoch 34/100
804/804  3s 2ms/step - accuracy: 0.8072 - loss: 0.4082
Epoch 35/100
784/804  0s 2ms/step - accuracy: 0.7997 - loss: 0.4175
Saved weights at epoch 35 to model_weights_epoch35.weights.h5
804/804  2s 2ms/step - accuracy: 0.7998 - loss: 0.4174
Epoch 36/100
804/804  3s 2ms/step - accuracy: 0.8017 - loss: 0.4147
Epoch 37/100
804/804  4s 3ms/step - accuracy: 0.8078 - loss: 0.4077
Epoch 38/100
804/804  4s 2ms/step - accuracy: 0.8001 - loss: 0.4129
Epoch 39/100
804/804  3s 2ms/step - accuracy: 0.8072 - loss: 0.4087
Epoch 40/100
784/804  0s 2ms/step - accuracy: 0.8043 - loss: 0.4110
Saved weights at epoch 40 to model_weights_epoch40.weights.h5
804/804  2s 2ms/step - accuracy: 0.8043 - loss: 0.4111
Epoch 41/100
804/804  3s 2ms/step - accuracy: 0.8054 - loss: 0.4085
Epoch 42/100
804/804  2s 3ms/step - accuracy: 0.8074 - loss: 0.4062
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.8000 - loss: 0.4134
Epoch 44/100
804/804  3s 2ms/step - accuracy: 0.8079 - loss: 0.4062
Epoch 45/100
780/804  0s 2ms/step - accuracy: 0.8055 - loss: 0.4087
Saved weights at epoch 45 to model_weights_epoch45.weights.h5
804/804  3s 2ms/step - accuracy: 0.8054 - loss: 0.4089
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.8057 - loss: 0.4109
Epoch 47/100
804/804  3s 3ms/step - accuracy: 0.8014 - loss: 0.4180
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7984 - loss: 0.4192
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.8070 - loss: 0.4108
Epoch 50/100
781/804  0s 2ms/step - accuracy: 0.8054 - loss: 0.4084
Saved weights at epoch 50 to model_weights_epoch50.weights.h5
804/804  3s 2ms/step - accuracy: 0.8054 - loss: 0.4086
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.8062 - loss: 0.4112
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.8032 - loss: 0.4129
Epoch 53/100
804/804  2s 3ms/step - accuracy: 0.8126 - loss: 0.4054
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.8023 - loss: 0.4159
Epoch 55/100
791/804  0s 2ms/step - accuracy: 0.8040 - loss: 0.4134
Saved weights at epoch 55 to model_weights_epoch55.weights.h5
804/804  2s 2ms/step - accuracy: 0.8040 - loss: 0.4133
Epoch 56/100
804/804  3s 2ms/step - accuracy: 0.8061 - loss: 0.4089
Epoch 57/100
804/804  2s 2ms/step - accuracy: 0.8051 - loss: 0.4117
Epoch 58/100
804/804  3s 2ms/step - accuracy: 0.8023 - loss: 0.4157
Epoch 59/100
804/804  2s 3ms/step - accuracy: 0.8056 - loss: 0.4119
Epoch 60/100
790/804  0s 2ms/step - accuracy: 0.8026 - loss: 0.4143
Saved weights at epoch 60 to model_weights_epoch60.weights.h5
804/804  2s 2ms/step - accuracy: 0.8026 - loss: 0.4142
Epoch 61/100
804/804  2s 2ms/step - accuracy: 0.7993 - loss: 0.4163
Epoch 62/100
804/804  3s 2ms/step - accuracy: 0.8069 - loss: 0.4077
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.8034 - loss: 0.4115
Epoch 64/100
804/804  3s 3ms/step - accuracy: 0.8020 - loss: 0.4162
Epoch 65/100
787/804  0s 3ms/step - accuracy: 0.8058 - loss: 0.4102
Saved weights at epoch 65 to model_weights_epoch65.weights.h5
804/804  3s 3ms/step - accuracy: 0.8057 - loss: 0.4103
Epoch 66/100
804/804  2s 2ms/step - accuracy: 0.8026 - loss: 0.4175
Epoch 67/100
804/804  3s 2ms/step - accuracy: 0.8071 - loss: 0.4096
Epoch 68/100
804/804  3s 2ms/step - accuracy: 0.8049 - loss: 0.4104
Epoch 69/100
804/804  3s 3ms/step - accuracy: 0.8044 - loss: 0.4124
Epoch 70/100
797/804  0s 2ms/step - accuracy: 0.8049 - loss: 0.4096
Saved weights at epoch 70 to model_weights_epoch70.weights.h5
804/804  3s 2ms/step - accuracy: 0.8049 - loss: 0.4096
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.8049 - loss: 0.4109
Epoch 72/100
804/804  2s 2ms/step - accuracy: 0.8057 - loss: 0.4111
Epoch 73/100
804/804  2s 2ms/step - accuracy: 0.8078 - loss: 0.4085
Epoch 74/100
804/804  3s 2ms/step - accuracy: 0.8062 - loss: 0.4102
Epoch 75/100
799/804  0s 3ms/step - accuracy: 0.8033 - loss: 0.4125
Saved weights at epoch 75 to model_weights_epoch75.weights.h5
804/804  3s 3ms/step - accuracy: 0.8033 - loss: 0.4124
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.8084 - loss: 0.4077
Epoch 77/100
804/804  3s 2ms/step - accuracy: 0.8083 - loss: 0.4053
Epoch 78/100
804/804  3s 2ms/step - accuracy: 0.8037 - loss: 0.4101
Epoch 79/100
804/804  3s 2ms/step - accuracy: 0.8017 - loss: 0.4122
Epoch 80/100
787/804  0s 3ms/step - accuracy: 0.8076 - loss: 0.4072
Saved weights at epoch 80 to model_weights_epoch80.weights.h5
804/804  3s 3ms/step - accuracy: 0.8075 - loss: 0.4073
Epoch 81/100
804/804  5s 3ms/step - accuracy: 0.8065 - loss: 0.4080
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.8040 - loss: 0.4087
Epoch 83/100
804/804  3s 2ms/step - accuracy: 0.8092 - loss: 0.4049
Epoch 84/100
804/804  3s 3ms/step - accuracy: 0.8007 - loss: 0.4116
Epoch 85/100
793/804  0s 2ms/step - accuracy: 0.8018 - loss: 0.4159
Saved weights at epoch 85 to model_weights_epoch85.weights.h5
804/804  2s 2ms/step - accuracy: 0.8019 - loss: 0.4158
Epoch 86/100
804/804  2s 2ms/step - accuracy: 0.8057 - loss: 0.4092
Epoch 87/100
804/804  2s 2ms/step - accuracy: 0.8021 - loss: 0.4136
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.8059 - loss: 0.4092
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.8070 - loss: 0.4051
Epoch 90/100
791/804  0s 2ms/step - accuracy: 0.8061 - loss: 0.4113
Saved weights at epoch 90 to model_weights_epoch90.weights.h5
804/804  3s 3ms/step - accuracy: 0.8061 - loss: 0.4113
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.8095 - loss: 0.4066
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.8045 - loss: 0.4116
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.8052 - loss: 0.4063
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.8053 - loss: 0.4066
Epoch 95/100
789/804  0s 2ms/step - accuracy: 0.8055 - loss: 0.4086
Saved weights at epoch 95 to model_weights_epoch95.weights.h5
804/804  2s 2ms/step - accuracy: 0.8055 - loss: 0.4087
Epoch 96/100
804/804  3s 3ms/step - accuracy: 0.8094 - loss: 0.4026
Epoch 97/100
804/804  2s 2ms/step - accuracy: 0.8070 - loss: 0.4102
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.8068 - loss: 0.4089
Epoch 99/100
804/804  3s 2ms/step - accuracy: 0.8046 - loss: 0.4112
Epoch 100/100
786/804  0s 2ms/step - accuracy: 0.8079 - loss: 0.4074
Saved weights at epoch 100 to model_weights_epoch100.weights.h5
804/804  3s 2ms/step - accuracy: 0.8079 - loss: 0.4074

In [59]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 4ms/step - accuracy: 0.7914 - loss: 0.4495
Loss: 0.44954606890678406, Accuracy: 0.7913702726364136

In [60]:
# Export our model to HDF5 file
filename = r'C:\Users\a_lip\OneDrive\Desktop\module-challenges\deep-learning-challenge\AlphabetSoupCharity_optimization.h5'
nn.save(filename)

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.